<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android2ee.basile.multiplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Application decsription -->
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AssessmentActivity" />
        <activity android:name=".view.records.RecordsActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="39866e36af5c6630aa5f1300338ad9c6005c1e3d" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>